body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

nav ul li a:hover {
    background-color: #555;
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    padding: 20px;
    min-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.carousel img {
    max-width: 900px;
    max-height: 600px;
    width: auto;
    height: auto;
    object-fit: cover;
    display: block;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 150px;
}

.dark-mode-toggle:hover {
    background-color: #555;
}
